.car-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 250px;
  }
 
  .car-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .car-info p {
    margin: 0;
  }
  .car-info p {
    margin: 0;
    border: 1px solid #dbb240;
    border-radius: 4px;
    background-color: #f9f4d4;
    color: #000000;
    padding: 5px 8px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .car-location {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ecbb3546;
    color: #000000;
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: bold;
  }
  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .car-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .car-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .car-filter select,
  .car-filter input {
    margin: 5px;
  }
  
  .car-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .car-button {
    background-color: #ad900d;
    color: #000000;
    padding: 8px 16px;
    border: solid 1px #dbb240;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .car-button:hover {
    background-color: #dbb240;
  }
  
  .car-price {
    border: 1px solid #dbb240;
    border-radius: 4px;
    background-color: #f9f4d4;
    color: #000000;
    padding: 5px 8px;
    font-weight: bold;
    font-size: 16px;
  }

  .car-card.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    width: 50%; 
    padding: 30px;
  }

  
  .car-card.horizontal .car-button{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
  .car-card.horizontal img {
    width: 400px; 
    height: 100%;
    object-fit: cover;
  }
  
  .car-card.horizontal .car-info {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px; 
  }
  .car-card.horizontal .car-info p{
    margin: 0;
    border: 1px solid #dbb240;
    border-radius: 4px;
    background-color: #f9f4d4;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;

  }
  .car-card.horizontal .car-button{
    align-items: center;
  }

  @media (max-width: 320px) {
    
    .car-card.horizontal {    
      width: 90%;
      height: 150px;
     
    }
  
    .car-card.horizontal img {
      width: 30px; 
      height: 100px; 
    }
  
    .car-card.horizontal .car-info p {
      padding: 0px;
      font-size: 8px;
    }
    .car-card.horizontal .car-button {
      padding: 2px;
      font-size: 10px;
    }
    .car-card.horizontal  .car-location{
      font-size: 10px;
      margin: 5px;
    }
    .car-card.horizontal .car-info h2 {
      font-size: 10px;
    }
  }

  
  @media (max-width: 670px) {
    
  .car-card.horizontal {    
      width: 350px;
      height: 200px;
     
    }

    .car-card.horizontal .car-info p {
      padding: 0px;
      font-size: 10px;
    }
    .car-card.horizontal .car-button {
      padding: 2px;
      font-size: 10px;
    }
    .car-card.horizontal  .car-location{
      font-size: 10px;
      margin: 5px;
    }
    .car-card.horizontal .car-info h2 {
      font-size: 15px;
    }
}
@media (max-width: 950px) {
    
  .car-card.horizontal {    
      width: 350px;
      height: 200px;
     
    }

    .car-card.horizontal .car-info p {
      padding: 0px;
      font-size: 10px;
    }
    .car-card.horizontal .car-button {
      padding: 2px;
      font-size: 10px;
    }
    .car-card.horizontal  .car-location{
      font-size: 10px;
      margin: 5px;
    }
    .car-card.horizontal .car-info h2 {
      font-size: 15px;
    }
}
 
