
@media (max-width: 768px) {
  .car-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .car-filter .MuiFormControl-root {
    width: 100%;
  }
}


@media (max-width: 400px) {
  .car-filter .MuiFormControl-root {
    width: 100%;
  }
}
